@model EmlakProject.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
}

<div class="container-fluid">
    <div class="row mx-5 mt-3">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 my-5">
            <div class="card p-5 pt-0 mb-5 mx-auto" style="width:700px;">
                <img src="~/Content/images/logo.bmp" class="" style="width:600px;">
                <h4 class="text-dark mx-auto mb-2">
                    Şifre Güncelleme
                </h4>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="/Account/Profile">Profil Güncelleme</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Şifre Değiştirme</li>
                    </ol>
                    <hr />
                </nav>

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Eski Şifre:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Yeni Şifre:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Şifre Tekrar:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.ConNewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(m => m.ConNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <button type="submit" id="registerButton" class="btn btn-warning w-100 btn-block"><i class="fas fa-edit"></i> Şifre Değiştir</button>
                }
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

