@model EmlakProject.Models.EditProfile
@{
    ViewBag.Title = "Profile";
}

<div class="container-fluid">
    <div class="row mx-5 mt-3">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 my-5">
            <div class="card p-5 pt-0 mb-5 mx-auto" style="width:700px;">
                <img src="~/Content/images/logo.bmp" class="" style="width:600px;">
                <h4 class="text-dark mx-auto mb-1">
                    Profil
                </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profil Güncelleme</li>
                    </ol>
                    <hr />
                </nav>

                @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.id)
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Adınız:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Soyadınız:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Kullanıcı Adınız:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="inputEmail3" class="col-sm-4 control-label fw-bold">Email:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />

                    <button type="submit" id="registerButton" class="btn btn-warning w-100 btn-block"><i class="fas fa-edit"></i> Güncelle</button>
                    <hr />
                    <a class="btn btn-block w-100 btn-primary mb-1" href="/Account/ChangePassword">Şifre Değiştir</a>
                }
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>

