@model EmlakProject.Models.Mahalle

@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid">
    <div class="row mx-5 mt-3">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 my-5">
            <div class="card p-5 mb-5 mx-auto" style="width:900px;">
                <h3 class="text-dark mx-auto">
                    <i class="fas fa-home"></i>
                    Mahalle Güncelleme
                </h3>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Index">Admin Sayfası</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mahalle Güncelleme</li>
                    </ol>
                    <hr />
                </nav>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.MahalleId)

                        <div class="form-group">
                            <label class="col-sm-2 control-label fw-bold">Mahalle Adı:</label>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.MahalleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MahalleName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label fw-bold">Semt Adı:</label>
                            <div class="col-md-6">
                                @Html.DropDownList("SemtId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SemtId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mt-2">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Güncelle" class="btn btn-primary" />
                                @Html.ActionLink("Mahalle Listesi", "Index", null, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
